.ratings-grid {
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
}

.tv-series-season {
  padding: 0 1rem 1rem 1rem;
}

li.episode-rating {
  list-style: none;
}

.episode-rating {
  padding: 0 0.3rem 0;
  display: grid;
  grid-template-columns: 40% 60%;
}

.ep-num {
  font-weight: bold;
}

h1 {
  margin: 0;
  padding: 0 1rem;
  font-size: 2rem;
}

.helper-msg {
  padding: 0 1rem;
  font-size: 1.4rem;
}

.ratings-plot {
  padding: 2rem 0 0;
}